*{
    box-sizing: border-box;
}

/* element selector */
body{
    background-color: rgb(56, 48, 85);
    font-family: calibri;
    color: rgb(34, 102, 161);
}

@media screen and (min-width : 600px){
    body{
        background-color: yellow;
    }
    .col-sm-6{
        width: 50%;
        float: left;
    }

}
  
/* desktop : layout tabel yang ditampilkan 4 kolom */
@media screen and (min-width : 992px){
    body{
        background-color: rgb(0, 255, 85);
    }
    .col-lg-6{
    width: 25%;
    float: left;
}
}


/* class selector */

.text-primary{
    color: rgb(255, 255, 255);
}

.col{
    width: 25%;
    float: left;
}

.img-responsive{
    width: 100%;
    max-height: 500px;
}

.circle {
    border-radius: 50%;
}

.rounded {
    border-radius: 20px;
}

.p-1{
    padding: 10px;
}

.col2{
    width: 50%;
    float: left;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}